@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 85%;
    width: 100%;
    background-color: rgb(20, 19, 19);
    display: flex;
    padding: 5vw 10vw;
}
#left{
    height: 100%;
    width: 45%;
    background-color: rgb(47, 47, 47);
    /* background-image: url(./images/animal.jpg); */
    background-size: cover;
    background-position: center;
}
#right{
    height: 100%;
    width: 55%;
    /* background-color: blue; */
    padding: 0 2vw;
}
#right h3{
    font-size: 50px;
}
#right img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 15px 20px;
}

.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}
#right .part1{
    display: flex;
    align-items: center;
    pointer-events: none;
}
.song-card h6{
    font-size: 16px;
}
.song-card:hover{
    background-color: rgb(43, 43, 43);
}
.song-card:active{
    scale: 0.9;
    transition: all ease 1s;
}
#player{
    height: 15%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#player h3{
    background-color: rgb(53, 52, 52);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player i{
    font-size: 26px;
}
#player h3:active{
    scale: 0.9;
}